// ==========================================================================
// Mixins
//==========================================================================
@use 'variables' as *;

//Text Properties
@mixin text($size, $l-height: null, $weight: null, $color: null) {
	font-size: $size;
	line-height: $l-height;
	font-weight: $weight;
	color: $color;
}


//SHADOWS

//Text Shadow
@mixin text-shdo($hr: 0.5px, $vrt: 0.5px, $blur: null, $col: $black) {
	text-shadow: $hr $vrt $blur $col;
}

//Box Shadow
@mixin box-shdo($in: null, $hr: 0, $vrt: 0, $blur: 15px, $sphd: null, $colour: $black) {
	box-shadow: $in $hr $vrt $blur $sphd $col;
}


//Gradient

@mixin grad($dir: to bottom, $color1, $color2, $color3: null, $color4: null, $color5: null, $color6: null, $color7: null) {
	background: -webkit-linear-gradient($dir, $color1, $color2);
	background: -moz-linear-gradient($dir, $color1, $color2);
	background: -o-linear-gradient($dir, $color1, $color2);
	background: linear-gradient($dir, $color1, $color2);

}


@mixin gold-bar {
	background: linear-gradient($gold-grad-1, $gold-grad-2, 23%, $gold-grad-3, 43%, $gold-grad-4, 57%, $gold-grad-5, 77%, $gold-grad-6, 91%, $gold-grad-7 95%);
}

//Border 
@mixin br-default ($pix: 1px, $styl: solid, $colu: null) {
	border: $pix $styl $colu;
}



//Flex Box
@mixin flexy ($disp: flex,
	$dir: null,
	$wrap: null,
	$just: null) {
	display: $disp;
	flex-direction: $dir;
	flex-wrap: $wrap;
	justify-content: $just;

}


//Media Query 

@mixin mq($break) {
	$brk-value : map-get($breakpoints, $break);
	$med : map-get($breakpoints, "med");

	@if $brk-value < $med {
		@media (max-width: $brk-value ) {
			@content;
		}

	}

	@else {
		@media (min-width: $brk-value) {
			@content;
		}
	}
}


//DEBUGING 
@mixin debug ($pix: 1px, $color: null) {
	border: solid $pix $color;

}