// ==========================================================================
// Variables
//==========================================================================

// FONTS
$font-family--primary : 'boucherie-block',
'cursive';
$font-family--secondary : 'finalsix',
'sans-serif';
$font-family--parag: 'futura-pt', 'sans-serif';


// FONT WEIGHTS
$font-weight--regular : 400;
$font-weight--medium : 500;
$font-weight--bold : 700;



//COLORS
$black : #000000; //rad grad 3
$grey : #2B2B2B;
$emperor-bg-proj: #545454; //grad-for-project-container 
$balls-nav: #3d4156;
$ul-rad-grad-1: #1c1d26;
$gold : #D4AF37;
$silver-rust: #CEC6C6; //my white
$gold-grad-1: #a47a1e;
$gold-grad-2: #d3a84c;
$gold-grad-3 :#ffec94;
$gold-grad-4 :#e6be69;
$gold-grad-5 : #ffd87c;
$gold-grad-6 : #c29c49;
$gold-grad-7 : #b58f3e;
$rad-grad-1 : #ab0909;
$rad-grad-2 : #690808;
$red : #ff0000; //text-shadow-60%



//TEXT
$base__font-size : 16px;
$base__line : 24px;
$letter-spacing : 1px;

//ASSET PATHS
$path-img : '../img';



//BORDER RADIUS
$br-rad : 0.25em;
$br-rad-lg : 0.750em;



//Breakpoint Map

$breakpoints: (
  'xx-sm' : 360px,
  'x-sm' : 412px,
  'sm' : 428px,
  'med': 768px,
  'lg': 1024px,
  'x-lg' : 1400px,
  'xx-lg' : 1800px,

);

$breakheights: (
  'xx-short': 568px,
  'x-short' : 772px,
  'short' : 780px,
  'tall' : 800px,
  'x-tall' : 844px,
  'xx-tall' : 880px,
  'xxx-tall' : 915px,
  'ex-tall' : 932px,
);