@use '../utilities/variables' as *;
@use '../utilities/extends' as e;
@use '../utilities/functions' as f;
@use '../utilities/mixins' as mix;

#ori-home-bg,
#port-contact-bars-bg,
#arrow-svg,
#nav-svg,
#glitter-about,
#about-svg {
    width: 1px;
    height: 1px;
    margin: -10px;
}


body,
#overlay {
    background: $black;
}

/*OVERLAY*/
#overlay {
    width: 100vw;
    height: 100vh;
}

#overlay,
#logo-animation {
    display: none;
}


/*MAIN GRID CONTAINER*/
#grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65px auto 30px;
    grid-template-areas:
        "header"
        "main"
        "footer";

}

/*HEADER & NAV*/
.main-header {
    height: 65px;
}

.main-header {
    grid-area: header;
    background: $black;
    border-bottom: 1px solid $gold;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    @include mix.flexy($just: space-between);
    padding: 0 f.em(16px);
    overflow: hidden;

}


#nav-main,
.nav-ul,
.main-nav {
    padding: 0;
    background: red;
    margin: 0;
    width: 0;
    transform: translateX(150%);
    // display: none;

}


.logo-sam {
    display: none;
}

.sam-logo,
.hamburger {
    height: f.em(59px);
    width: f.em(59px);
    // border: solid 1px $silver-rust;

}

.sam-logo {
    margin-right: auto;

}




.burger {
    display: block;
    height: f.em(6px);
    margin: f.em(10px) 0;
    border-radius: 3px;
    @include mix.gold-bar;
}

/*MAIN*/
main {
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "home"
        "portfolio"
        "about"
        "contact";

}


/*HOME*/
#home {
    grid-area: home;
    // height: calc(600px - 65px);
    // margin-bottom: f.em(100px);
}

.top-home {
    @include mix.flexy($just: space-between);
}

/*HOME SVGs*/
#home-bg,
#home-bottom {
    height: 176px;
    width: 146px;
}

#home-bottom {
    transform: rotate(180deg);

}

.sam-img-container {
    width: f.em(180px);
}

.full-name {
    position: relative;
    top: f.em(-40px);



}

.my-names {
    padding-left: f.em(6px);

}

.sam-colour,
.sam-gold {
    width: f.em(80px);
}


.atkin-colour,
.mod-colour,
.atkin-gold,
.mod-gold {
    width: f.em(90px);
}

.nam-colour,
.nam-gold {
    position: absolute;
    top: 0;
}

.role-and-bg {
    position: absolute;
    top: f.em(250px);
    width: 100%;
    @include mix.flexy($just: space-between);
    // @include mix.debug($color: $red);

}

.dev-text {
    margin-right: auto;
    margin-top: f.em(56px);
    width: 70%;
    padding-top: f.em(25px);
    // @include mix.debug($color: green);
}

.bg-bottom {
    transform: translateY(-40px);
}

#portfolio {
    grid-area: portfolio;
    display: none;
}

#about-me {
    grid-area: about;
    display: none;
}

#contact-me {
    grid-area: contact;
    display: none;
}



/*FOOTER*/
footer {
    grid-area: footer;
    height: 60px;
    background: $black;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
}

.contact-links {
    margin-top: 0;
    @include mix.flexy($just: center);
}

.social-links {
    height: 30px;
    width: 30px;
    margin: 0 f.em(10px);
}

small {
    margin: f.em(3px) auto 0;
    display: block;
    width: 80%;
}