@use '../utilities/variables' as *;
@use '../utilities/extends' as *;
@use '../utilities/functions' as f;
@use '../utilities/mixins' as mix;

#ori-home-bg,
#port-contact-bars-bg,
#arrow-svg,
#nav-svg,
#glitter-about,
#about-svg {
    width: 1px;
    height: 1px;
    margin-top: -10px;
}

#nav-main,
.nav-ul,
.main-nav,
.info-head,
.made-with,
.created-with {
    @extend %marg-zero;
}

main {
    @extend %marg-cen;
}

#grid-container,
#overlay {
    background: $black;
}

#overlay,
#logo-animation {
    display: none;
}

#grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    place-content: center;
    grid-template-areas: "header" "main" "footer";
}

/********************
     HEADER
********************/
.main-header {
    grid-area: header;
    height: 55px;
    @include mix.bg-black-grad;
    border-bottom: 1px solid $gold;
    width: 100%;
    @include mix.flexy($just: space-between);
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 0 f.em(16px);
    overflow: hidden;
}

/**********************
      NAV
***********************/
#mobile-nav {
    padding: 0;
    background: red;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 55px;
    transform: translateX(100%);

}

#nav-main {
    display: none;
}

.sam-logo,
.hamburger {
    height: f.em(59px);
    width: f.em(59px);
    // @include mix.debug($color: $silver-rust);

}

.sam-logo {
    margin-right: auto;
    margin-left: f.em(-12px);
}

.hamburger {
    cursor: pointer;
    margin-right: -12px;
}

.burger {
    display: block;
    height: f.em(6px);
    margin: f.em(10px) 0;
    border-radius: 3px;
    @include mix.gold-bar;
}

/******************
   MAIN
******************/
main {
    grid-area: main;
    margin-top: 36px;
    // display: grid;
    // gap: f.em(20px) 0;
    // place-items: center;
    // grid-template-columns: repeat(4, 1fr);
    // ;
    // grid-template-rows: auto;

}

#inner-home,
#inner-about-me {
    display: grid;

}

.col-span-2 {
    grid-column: span 2;

}

/****************************
       HOME SECTION
****************************/
// #home {
//     margin-bottom: f.em(123px);
// }

#inner-home {
    gap: f.em(20px);
    grid-template-columns: repeat(2, 1fr);
}

.top-home {
    @include mix.flexy($just: space-between);
}

#home-bg,
#home-bottom {
    height: 176px;
    width: 146px;
}

#home-bottom {
    transform: rotate(180deg);
}

.sam-img-container {
    width: f.em(180px);
    padding-left: f.em(10px);
}

.full-name {
    position: relative;
    top: f.em(-40px);
}

.my-names {
    padding-left: f.em(6px);
}

.sam-colour,
.sam-gold {
    width: f.em(80px);
}

.atkin-colour,
.mod-colour,
.atkin-gold,
.mod-gold {
    width: f.em(90px);
}

.nam-colour,
.nam-gold {
    position: absolute;
    top: 0;
}

.role-and-bg {
    width: 100%;
    @include mix.flexy($just: space-between);
    // @include mix.debug($color: $red);
}


.dev-text {
    margin-right: auto;
    margin-top: f.em(56px);
    width: 175px;
    padding-top: f.em(25px);
    // @include mix.debug($color: green);

}


/*********************************************
          PORTFOLIO SECTION
**********************************************/
#portfolio {
    padding: 0;
    // margin-top: 55px;

}

#inner-portfolio {
    position: relative;
    // @include mix.debug($color: rgb(233, 51, 10));

}

.portfolio-header {
    position: relative;
    width: 100%;
    // @include mix.debug($color: rgb(4, 184, 34));
}

#portfolio-bg,
.portfolio-bg,
#contact-bg {
    height: 200px;
    width: 250px;
}

.portfolio-bg {
    margin-left: auto;

}

.slide-nav {
    @include mix.flexy($just: center);
    margin-top: f.em(-15px);
}

.slide-nav li {
    margin: 0 5px;
    padding: f.em(3px) f.em(16px);
}

.projects-container {
    width: 100%;
    // @include mix.debug($color: rgb(235, 221, 28));

}



.project-slider {
    width: 320px;
    @include mix.flexy();
    @extend %marg-cen;
    overflow: hidden;
    // @include mix.debug($color: rgb(235, 28, 28));

}

.project-container,
.logo-container {
    width: 310px;
    height: 400px;
    margin: 0 f.em(5px);
    @include mix.flexy($dir: column, $just: space-evenly);
    @include mix.bg-proj-cont-grad;
    border: solid 3px $black;
    // @include mix.debug($color: rgb(28, 114, 235));

}


.logo-container {
    @include mix.bg-proj-logo-grad;
    // @include mix.debug($color: rgb(28, 114, 235));

}

.project-img-links {
    width: 310px;
    height: 230px;
    @include mix.flexy($just: space-between);
    margin: 0 auto;
}

.proj-img {
    width: 108px;
    height: 215px;
    margin-left: f.em(90px);
    margin-top: f.em(5px);
    // @include mix.debug($color: pink);
}

.taller-proj {
    height: 225px;
    width: 72px;
    margin-left: f.em(110px);
}

.proj-4 .taller-proj {
    width: 63px;

}

.proj-7 .taller-proj {
    width: 78px;
}


.square-5 {
    width: 208px;
    height: 219px;
    margin-left: f.em(30px);
}

.square-6 {
    width: 220px;
    height: 217px;
    margin-left: f.em(18px);
}

.square-8 {
    width: 207px;
    height: 208px;
    margin-left: f.em(20px);
}

.proj-divider {
    display: none;
}

.proj-8 .info-head {
    width: 93%;
    @extend %marg-cen;
}



.proj-nav {
    position: relative;
    width: 56px;
    height: 150px;
    padding: f.em(2px);
    margin-right: f.em(10px);
    margin-top: f.em(5px);
    // @include mix.debug($color: rgb(183, 235, 28));

}

.project-info,
.logo-info {
    height: 69px;
    width: 100%;
    @include mix.bg-proj-info;
    @include mix.box-shdo($in: inset, $blur: 7px, $sphd: 0, $colour: $red);
    // @include mix.debug($color: rgb(235, 59, 28));
}

.logo-info {
    height: 125px;
}

.made-with {
    height: 40px;
    @include mix.flexy();
    padding: 0 f.em(2px);
    // @include mix.debug($color: rgb(68, 238, 244));

}

.created-with {
    width: 32%;
    margin-right: f.em(5px);
    align-self: center;
}


.logo-img {
    width: 308px;
    height: 268px;
    // @include mix.debug($color: rgb(100, 68, 244));
}


.logo-way .logo-info {
    margin-top: f.em(35px);
    height: f.em(90px);
}



.proj-slider-nav {
    height: 50px;
    width: 100%;
    padding: 0 f.em(2px);
    overflow: hidden;
    @include mix.flexy($just: space-between);
    background: linear-gradient(69deg, $grey, $black, $black, $grey);
    transform: translateY(-28px);
    // @include mix.debug($color: rgb(208, 222, 11));
}

.arrow-nav {
    width: 150px;
    margin-right: f.em(5px);
}

#arrow-right,
#arrow-left {
    width: 40px;
    height: 20px;
    margin: f.em(15px) f.em(10px);
}

#arrow-left {
    transform: rotate(180deg);
}

#divider {
    height: 30px;
    width: 5px;
    margin: f.em(10px) f.em(4px);
}



.ul-navs {
    width: 120px;
    @include mix.flexy($dir: column);
    margin-left: f.em(5px);
    // @include mix.debug($color: rgb(222, 11, 36));

}

.ul-navs,
.arrow-nav {
    @include mix.br-default($colu: rgba($gold, 0.5));
    border-radius: $br-rad-lg;
}

.static,
.interactive,
.logos {
    margin: f.em(10px) 0;
    @include mix.flexy();
}




.balls {
    width: 18px;
    height: 18px;
    margin: f.em(2px) f.em(8px);
    border-radius: 100%;
    background: radial-gradient($rad-grad-1, $rad-grad-2, $black );
}

.active {
    @include mix.gold-bar;
}


/****************************
       ABOUT ME SECTION
****************************/

#inner-about-me {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 320px;
}

#about-bg {
    width: 97px;
    height: 100px;
}

#inner-about-me p {
    grid-column: 1/span 2;
}


.me-about-img {
    display: flex;
}




.dev-list,
.design-list {
    @include mix.flexy($just: space-evenly);
}

.dev-web,
.design-dev {
    grid-column: 2,
}


.dev-list,
.design-list,
.skill-head-underline,
.dev-web {
    grid-column: 1 /span 2;
}

.skill-head-underline {
    @include mix.flexy($dir: column);
}



.skill-under {
    height: f.em(2px);
    width: 260px;
    margin-left: f.em(37px);
    @include mix.gold-bar();
}

.dev-list li,
.design-list li {
    width: 45px;
    height: 45px;
}

.web-dev-underline,
.web-design-underline {
    display: none;
}

.dev-list,
.design-list {
    padding: f.em(6px) 0;
    border-radius: f.em(32px);
    @include mix.ul-bg($col-1: $ul-rad-grad-1, $col-2: $black);
}


.design-list {
    @include mix.ul-bg($dir-pix: 275px at center right, $col-1: $ul-rad-grad-1, $col-2: $black);
}


#contact-me {
    grid-area: contact;
    display: none;
}

/******************************
            FOOTER
*******************************/


footer {
    grid-area: footer;
    // height: 60px;
    background: $black;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
    @include mix.debug($color: rgb(184, 4, 172));

}

.contact-links {
    margin-top: 0;
    @include mix.flexy($just: center);
}

.social-links {
    height: 30px;
    width: 30px;
    margin: 0 f.em(10px);
}

small {
    margin: f.em(3px) auto 0;
    display: block;
    width: 80%;
}